body{
    display: flex;
    justify-content: center;
    background-color: cornsilk;
}

h1, p{
    justify-content: auto;
    margin: 1em auto;
    text-align: center;
}

label{
    display: block;
    margin: 0.5rem 0;
}
fieldset{
    padding: 0;
    width: 550px;
    border: 0;
    padding: 2rem 0;
    text-align: center;
}

form{
    margin: 0 auto;
}

fieldset:not(:last-of-type){
    border-bottom: 3px solid #3b3b4f;
}

.inline{
    width: unset;
    margin-right: 0.5em;
    margin: 0;
    vertical-align: middle;
}
input, textarea, select{
    background-color: beige;
}