	.mediaViewInfo {
		--web-view-name: Homepage;
		--web-view-id: Homepage;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Homepage;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Homepage {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(39,104,144,0.91);
		overflow: hidden;
		--web-view-name: Homepage;
		--web-view-id: Homepage;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#Amirthavarshine_Thirumalai_Kum {
		left: 107px;
		top: 765px;
		position: absolute;
		overflow: visible;
		width: 603px;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	#My_Photo {
		position: absolute;
		width: 478.263px;
		height: 516.579px;
		left: 152.737px;
		top: 220px;
		overflow: visible;
	}
	#Nav_Bar_Background {
		fill: rgba(84,95,102,1);
		stroke: rgba(84,95,102,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Nav_Bar_Background {
		overflow: visible;
		position: absolute;
		width: 1920px;
		height: 204px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Name {
		position: absolute;
		width: 708px;
		height: 236px;
		left: -59px;
		top: -32px;
		overflow: visible;
	}
	#I_am_an_aspiring_student_who_i {
		left: 899px;
		top: 420px;
		position: absolute;
		overflow: hidden;
		width: 918px;
		height: 412px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		color: rgba(255,255,255,1);
	}
	#Portfolio {
		position: absolute;
		width: 165px;
		height: 84px;
		left: 1081px;
		top: 67px;
		overflow: visible;
		transition: all 0.30000001192092896s ease-out;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: Portfolio.html;
		cursor: pointer;
	}
	#contact_button {
		fill: rgba(220,80,46,1);
		stroke: rgba(220,80,46,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.contact_button {
		overflow: visible;
		position: absolute;
		width: 165px;
		height: 84px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Portfolio_s {
		left: 33px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,249,249,1);
	}
	#Resume {
		position: absolute;
		width: 165px;
		height: 84px;
		left: 1594px;
		top: 67px;
		overflow: visible;
		transition: all 0.30000001192092896s ease-out;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: Resume.html;
		cursor: pointer;
	}
	#contact_button_u {
		fill: rgba(220,80,46,1);
		stroke: rgba(220,80,46,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.contact_button_u {
		overflow: visible;
		position: absolute;
		width: 165px;
		height: 84px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Resume_v {
		left: 39px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 89px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,249,249,1);
	}
	#Contact {
		position: absolute;
		width: 165px;
		height: 84px;
		left: 1332px;
		top: 67px;
		overflow: visible;
		transition: all 0.30000001192092896s ease-out;
		--web-animation: fadein 0.30000001192092896s ease-out;
		--web-action-type: page;
		--web-action-target: Contact.html;
		cursor: pointer;
	}
	#contact_button_x {
		fill: rgba(220,80,46,1);
		stroke: rgba(220,80,46,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.contact_button_x {
		overflow: visible;
		position: absolute;
		width: 165px;
		height: 84px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Contact_y {
		left: 39px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 88px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,249,249,1);
	}
